.head-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.head-image {
    width: 300px;
    transition: max-width 1s, min-width 1s;
}

.head-image-exapanded {
    min-width: 220px;
    max-width: 280px;
}

.head-image-contracted {
    min-width: 100px;
    max-width: 120px;
}

.head-text {
    font-family: 'Hachi Maru Pop', cursive;
    margin: 5px 0 15px 0;
    transition: font-size 1s;
}

.head-text-expanded {
    font-size: 36px;
}

.head-text-contracted {
    font-size: 12px;
}
