.footer-container {
    display: flex;
    justify-content: center;
    background-color: #dcd4fce0;
    color: #0f1228;
    font-weight: 700;
    text-align: center;
    padding: 5px 10px;
}

p > a {
    text-decoration: none;
}
